h1 { 
    background-color: bisque;
    text-align: center;
}
p {
    text-align: center;
}
.hello {
    background-color: rgb(51, 117, 210);
}
.about {
    background-color: rgb(73, 126, 223);
    text-align: center;
    padding: auto;
}
ul {
    text-align: center;
    list-style-position: inside;
}
section {
    text-align: center;
}