html {
    background-color: rgb(255, 253, 229);
}

body {
 margin: 0px;
}
h1 { 
    background-color: rgb(255, 253, 229);
    text-align: center;
}

p {
    text-align: center;
}

ul {
    text-align: left;
    list-style-position: inside;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

section {
    text-align: center;
}

.hello {
    background-color: rgb(255, 253, 229);
}

.AboutMe {
    background-color: rgb(255, 253, 229);
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2% 10% 5% 10%
}

.info {
    background-color: #c0ebff;
    width : 80%;
    box-shadow: -10px 10px 10px 0px rgba(255, 159, 3, 0.25);
    border-radius: 20px;
    justify-self: center;
}

a:hover {
    color: rgb(255, 0, 200);
}

.career {
    background-image: url(../images/Wooper-Pokemon-Background-Isolated-PNG.png);
    background-size: cover;
}